examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/.dockerignore
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/.gitignore
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/COPYRIGHT
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/Dockerfile
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/env-setup
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/ISSUE_TEMPLATE.md
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/LICENSE
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/README.md
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/requirements.txt
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/setup.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/version.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_command.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_common_action.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_config.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_facts.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_jsnapy.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_ping.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_pmtud.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_rpc.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_software.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_srx_cluster.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_system.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/action_plugins/juniper_junos_table.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/ansible-junos-awx/Makefile
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/ansible-junos-awx/Makefile.variable
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/ansible-junos-awx/README.md
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/callback_plugins/jsnapy.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/ansible2rst.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/conf.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/docreq.txt
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/Makefile
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/rst.j2
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/_static/juniper-junos-modules.css
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/docs/_static/juniper.png
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_command.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_config.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_facts.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_jsnapy.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_ping.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_pmtud.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_rpc.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_software.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_srx_cluster.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_system.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/library/juniper_junos_table.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/meta/.galaxy_install_info
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/meta/main.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/module_utils/__init__.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/module_utils/juniper_junos_common.py
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/.travis.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/ansible.cfg
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.juniper_junos_config.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.juniper_junos_facts.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.juniper_junos_jsnapy.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.juniper_junos_ping.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.juniper_junos_pmtud.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.juniper_junos_rpc.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.rav.token.app_stop.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.rav.token.create-deploy.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/pb.rav.token.fqdn_get.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/ravello.ini
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/junos_jsnapy/add_loopback.set
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/junos_jsnapy/delete_loopback.set
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/junos_jsnapy/test_junos_storage.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/junos_jsnapy/test_loopback.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tests/junos_jsnapy/test_version.yml
examples/ansible/01_get_lldp_neighbors/roles/juniper.junos/tools/sw_upgrade
examples/ansible/02_get_route_table/roles/juniper.junos/.dockerignore
examples/ansible/02_get_route_table/roles/juniper.junos/.gitignore
examples/ansible/02_get_route_table/roles/juniper.junos/COPYRIGHT
examples/ansible/02_get_route_table/roles/juniper.junos/Dockerfile
examples/ansible/02_get_route_table/roles/juniper.junos/env-setup
examples/ansible/02_get_route_table/roles/juniper.junos/ISSUE_TEMPLATE.md
examples/ansible/02_get_route_table/roles/juniper.junos/LICENSE
examples/ansible/02_get_route_table/roles/juniper.junos/README.md
examples/ansible/02_get_route_table/roles/juniper.junos/requirements.txt
examples/ansible/02_get_route_table/roles/juniper.junos/setup.py
examples/ansible/02_get_route_table/roles/juniper.junos/version.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_command.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_common_action.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_config.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_facts.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_jsnapy.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_ping.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_pmtud.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_rpc.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_software.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_srx_cluster.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_system.py
examples/ansible/02_get_route_table/roles/juniper.junos/action_plugins/juniper_junos_table.py
examples/ansible/02_get_route_table/roles/juniper.junos/ansible-junos-awx/Makefile
examples/ansible/02_get_route_table/roles/juniper.junos/ansible-junos-awx/Makefile.variable
examples/ansible/02_get_route_table/roles/juniper.junos/ansible-junos-awx/README.md
examples/ansible/02_get_route_table/roles/juniper.junos/callback_plugins/jsnapy.py
examples/ansible/02_get_route_table/roles/juniper.junos/docs/ansible2rst.py
examples/ansible/02_get_route_table/roles/juniper.junos/docs/conf.py
examples/ansible/02_get_route_table/roles/juniper.junos/docs/docreq.txt
examples/ansible/02_get_route_table/roles/juniper.junos/docs/Makefile
examples/ansible/02_get_route_table/roles/juniper.junos/docs/rst.j2
examples/ansible/02_get_route_table/roles/juniper.junos/docs/_static/juniper-junos-modules.css
examples/ansible/02_get_route_table/roles/juniper.junos/docs/_static/juniper.png
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_command.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_config.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_facts.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_jsnapy.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_ping.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_pmtud.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_rpc.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_software.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_srx_cluster.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_system.py
examples/ansible/02_get_route_table/roles/juniper.junos/library/juniper_junos_table.py
examples/ansible/02_get_route_table/roles/juniper.junos/meta/.galaxy_install_info
examples/ansible/02_get_route_table/roles/juniper.junos/meta/main.yml
examples/ansible/02_get_route_table/roles/juniper.junos/module_utils/__init__.py
examples/ansible/02_get_route_table/roles/juniper.junos/module_utils/juniper_junos_common.py
examples/ansible/02_get_route_table/roles/juniper.junos/tests/.travis.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/ansible.cfg
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.juniper_junos_config.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.juniper_junos_facts.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.juniper_junos_jsnapy.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.juniper_junos_ping.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.juniper_junos_pmtud.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.juniper_junos_rpc.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.rav.token.app_stop.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.rav.token.create-deploy.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/pb.rav.token.fqdn_get.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/ravello.ini
examples/ansible/02_get_route_table/roles/juniper.junos/tests/junos_jsnapy/add_loopback.set
examples/ansible/02_get_route_table/roles/juniper.junos/tests/junos_jsnapy/delete_loopback.set
examples/ansible/02_get_route_table/roles/juniper.junos/tests/junos_jsnapy/test_junos_storage.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/junos_jsnapy/test_loopback.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tests/junos_jsnapy/test_version.yml
examples/ansible/02_get_route_table/roles/juniper.junos/tools/sw_upgrade
examples/ansible/03_get_specific_route_table/roles/juniper.junos/.dockerignore
examples/ansible/03_get_specific_route_table/roles/juniper.junos/.gitignore
examples/ansible/03_get_specific_route_table/roles/juniper.junos/COPYRIGHT
examples/ansible/03_get_specific_route_table/roles/juniper.junos/Dockerfile
examples/ansible/03_get_specific_route_table/roles/juniper.junos/env-setup
examples/ansible/03_get_specific_route_table/roles/juniper.junos/ISSUE_TEMPLATE.md
examples/ansible/03_get_specific_route_table/roles/juniper.junos/LICENSE
examples/ansible/03_get_specific_route_table/roles/juniper.junos/README.md
examples/ansible/03_get_specific_route_table/roles/juniper.junos/requirements.txt
examples/ansible/03_get_specific_route_table/roles/juniper.junos/setup.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/version.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_command.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_common_action.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_config.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_facts.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_jsnapy.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_ping.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_pmtud.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_rpc.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_software.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_srx_cluster.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_system.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/action_plugins/juniper_junos_table.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/ansible-junos-awx/Makefile
examples/ansible/03_get_specific_route_table/roles/juniper.junos/ansible-junos-awx/Makefile.variable
examples/ansible/03_get_specific_route_table/roles/juniper.junos/ansible-junos-awx/README.md
examples/ansible/03_get_specific_route_table/roles/juniper.junos/callback_plugins/jsnapy.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/ansible2rst.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/conf.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/docreq.txt
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/Makefile
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/rst.j2
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/_static/juniper-junos-modules.css
examples/ansible/03_get_specific_route_table/roles/juniper.junos/docs/_static/juniper.png
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_command.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_config.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_facts.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_jsnapy.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_ping.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_pmtud.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_rpc.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_software.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_srx_cluster.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_system.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/library/juniper_junos_table.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/meta/.galaxy_install_info
examples/ansible/03_get_specific_route_table/roles/juniper.junos/meta/main.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/module_utils/__init__.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/module_utils/juniper_junos_common.py
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/.travis.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/ansible.cfg
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.juniper_junos_config.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.juniper_junos_facts.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.juniper_junos_jsnapy.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.juniper_junos_ping.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.juniper_junos_pmtud.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.juniper_junos_rpc.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.rav.token.app_stop.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.rav.token.create-deploy.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/pb.rav.token.fqdn_get.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/ravello.ini
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/junos_jsnapy/add_loopback.set
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/junos_jsnapy/delete_loopback.set
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/junos_jsnapy/test_junos_storage.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/junos_jsnapy/test_loopback.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tests/junos_jsnapy/test_version.yml
examples/ansible/03_get_specific_route_table/roles/juniper.junos/tools/sw_upgrade
examples/ansible/04_jsnapy_isis/roles